html {
	width: 100% !important;
	position: static !important;
	overflow-y: visible !important;
}

html, body, p {
	margin:0;
	padding:0;
	font-family: Calibri;
}

.grid {
	display: grid;
}

.App {
	text-align: center;
	background-color: #fefefe;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	min-height: 50px;
	padding: 20px 0px;
	color: white;
	display: grid;
	width: 100%;
}

.App-title {
	font-size: 1.5em;
	display: table-cell;
	vertical-align: middle;
}

.App-intro {
	font-size: large;
}

.button {
	border: 1px solid #222;
	border-radius: 5px;
	/* font-size: 16px; */
	height: 35px;
	color: #eee;
	cursor: pointer;
	width: 80px;
}

.button-submit {
	background-color: #108c40;
}

.button-submit:hover {
	background-color: rgba(16, 150, 64, .8);
}

.button-cancel {
	background-color: #ED483E;
}

.button-cancel:hover {
	background-color: rgba(237, 72, 62, .8);
}

.input {
	height: 35px;
	width: 80%;
	border: none;
	outline: none;
	border-bottom: 1px solid #222;
}

.input-date {
	margin-top: -3px;
}

.input:hover, input:focus {
	border-bottom-color: #ED483E;
}

.calendar-container {
	display:grid;
	grid-template-areas:
		"header"
		"search"
		"content"
		"footer";
	grid-row-gap: .5em;
	grid-column-gap: 1em;
	grid-template-rows: auto 1fr 50px;
	margin: 0px 15px 0px 15px;
}

.content-header {
	background-color: #222;
	color: #eee;
	display:grid;
	cursor: pointer;
	height: 40px;
	padding: 10px 0px;
	height:50px;
}

.content-header-stretch {
	margin-left: -15px;
	margin-right: -15px;
}

.content-header > p {
	font-size: 18px;
	font-weight: bold;
}

.calendar-content {
	display: inherit;
	grid-template-areas: "y x";
	grid-template-columns: 15% 85%;
	/*border-bottom: 1px solid black; */
}

.calendar-wrapper {
	display:inherit;
	grid-area: content;
	grid-auto-rows: 50px;
	grid-row-gap: 20px;
	margin-top: 3em;
}

.calendar-content-y {
	grid-area: y;
	font: 18px "calibri";
	text-align: left;
	height: 100%;
	display: flex;
	align-items: center;
}

.calendar-content-y p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
	cursor: pointer;
}

.calendar-content-x {
	grid-area: x;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-column-gap: 5px;
	animation: fadein 1s;
}

.calendar-picker {
	display: grid;
	grid-row-gap: .5em;
	grid-auto-flow: row;
}

.calendar-picker-margin {
	margin-top: 2em;
}

.calendar-picker-user {
	padding: 20px 0px;
}

.calendar-picker-item {
	display: grid;
	grid-template-columns: 3em 10em 3em;
	justify-content: center;
	align-items: center;
}

.calendar-picker-item p:first-child {
	font-size: 25px;
	margin-bottom: -5px;
}

.calendar-picker-item button {
	font-size: 30px;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	background: none;
	height: 35px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

.calendar-picker-item button:hover {
	color:black;
}

/* .month-picker-year {
	grid-area: year;
}

.month-picker-month {
	grid-area: month;
} */

.employee {
	font: 18px "calibri";
	text-align: left;
	height: 100%;
	display: flex;
	align-items: center;
}

/* .calendar-content-y {
	font: 18px "calibri";
	text-align: left;
	height: 100%;
	display: flex;
	align-items: center;
} */

.icon-user,
.icon-calendar {
	margin-right: .5em;
	font-size: 50px;
	cursor: pointer;
}

.icon-calendar {
	font-size: 35px;
	cursor: default;
}

	.employee p {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-right: 10px;
		cursor: pointer;
	}

.day {
	height: 100%;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	cursor: pointer;
}

.default-cursor {
	cursor: default;
}

.menu-logout {
	cursor: pointer;
}

/* .navbar a:hover {
	border-bottom: 3px solid white;
} */

.loader {
	margin:auto;
	width: 30%;
}

.loader-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15%;
}

.loader div {
	width: 10% !important;
}

.overlay {
	width: 100%;
}

.modal {
	width: 40%;
	background-color: #fefefe;
	/* background-color: #333; */
	/* color: #fefefe; */
	/* padding: 0px; */
}

.modal .modal-title {
	padding: 1em 1em .3em 1em;
}

.modal .modal-content {
	padding: .3em 1em 1em 1em;
}

.modal .modal-content p {
	word-wrap: break-word;
}

.validator {
	color: #ED483E;
}

.horizontal-line {
	padding-left: .3em;
	padding-right: .3em;
}

.horizontal-line hr {
	border: .5px solid #333;
}

/* .day > div {
	transition: transform .2s;
} */

/* .day:hover > div {
	transform:rotate(-20deg);
} */

	/* .day.vacation {
		background-color: #41f4a3;
	} */

	.day.vacation-leave {
		background-color: #108c40;
		color: #eee;
	}

	.day.vacation-sick {
		background-color: #4280f4;
		color: #eee;
	}

	.day.vacation-entered {
		text-decoration: underline;
	}

	.day.weekend {
		background-color: #222;
		color: #eee;
		text-decoration: none;
	}

	.day.holiday {
		background-color: #ED483E;
		color: #eee;
	}

	/* .day.selected {
		background-color: #333;
		color: #eee;
	} */

	.Select-control,
	.Select-menu-outer {
		border: 1px solid #222 !important;
	}

	.Select-arrow {
		border-color: #222 transparent transparent !important;
	}

	.react-datepicker__input-container {
		display: block !important;
	}

	.vacation-picker-date {
		border: 1px solid #222;
		border-radius: 3px;
		padding: 10px 0px 10px 5px;
		width: calc(100% - 5px);
	}
	
	.react-datepicker__close-icon::after {
		color: #222 !important;
		background-color: transparent !important;
		font-size: 22px !important;
		right: 0 !important;
		left: 75% !important;
	}

/*ITEM-GRID*/
.item-grid {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 1px;
	background-color: #ED483E;
	margin-bottom: 2em;
}

.item-grid-header,
.item-grid-content-header,
.item-grid-content-item,
.item-grid-footer {
	background-color: #222;
	color: #eee;
	display:grid;
	cursor: pointer;
	height: 40px;
}

.item-grid-header {
	padding: 10px 0px;
	height: 50px;
}

.item-grid-header > p {
	font-size: 18px;
	font-weight: bold;
}

.item-grid-content-item,
.item-grid-content-header {
	height: 40px;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
	grid-column-gap: 1px;
	margin-bottom: 1px;
}

.item-grid-content-item div {
	background-color: #fefefe;
}

.item-grid-content-item {
	background-color: transparent;
	color: #222;
}

.item-grid-content-item:hover > div {
	background-color: #ED483E;
	color: #fefefe;
}

.item-grid-footer div,
.item-grid-content-header div,
.item-grid-content-item div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.item-grid-header:hover
.item-grid-footer:hover {
	background-color: #333;
}

.item-grid-content > p {
	border-bottom: 1px solid #222;
}

.item-grid-content div:last-child .item-grid-content-item {
	margin-bottom: 0px;
}

.item-grid-content-empty {
	background-color: #fefefe;
	padding-top: 1em;
	padding-bottom: 1em;
}

/******************/

.vacation-list-month {
	font-size: 20px;
}

/*VACATION PICKER*/

.vacation-picker h3 {
	text-align: center;
}

.vacation-picker .vacation-picker-row {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 30% 70%;
	padding: 5px 0px;
}

.vacation-picker .vacation-picker-row > span,
.vacation-picker .vacation-picker-row > label {
	display: flex;
	align-items: center;
}

.vacation-picker .button {
	margin-top: 1em;
}

.vacation-picker .button:last-child {
	margin-left: 15px;
}

.vacation-picker input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

/******************/

/*ON OFF*/

.onoffswitch {
	position: relative;
	width: 100px;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #ED483E;
	border-radius: 3px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	color: #fefefe;
	font-family: "Calibri";
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "Yes";
	padding-left: 10px;
	background-color: #ED483E;
	color: #fefefe;
}

.onoffswitch-inner:after {
	content: "No";
	padding-right: 10px;
	background-color: #ED483E;
	color: #222;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 20px;
	margin: 5px;
	background: #222222;
	position: absolute; top: 0; bottom: 0;
	right: 66px;
	border: 2px solid #ED483E; border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}

/******************/

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1;}
}

@media screen and (max-width: 1366px) {
	/* .calendar-container {
		 margin: 0px; 
	} */
	
	.calendar-wrapper {
		display: block;
	}

	.calendar-content {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.calendar-content-y {
		text-align: center;
		display: block;
	}

	.calendar-content-y p {
		margin-right: 0px;
	}

	.icon-user,
	.icon-calendar {
		margin-right: 0px;
	}

	.employee {
		text-align: center;
		display: block;
	}

	.employee p {
		white-space: normal;
		margin-right: 0px;
		word-wrap: break-word;
	}
}

@media screen and (max-width: 960px) {
	.calendar-container {
		display: block;
		margin: 0px;
	}

	.content-header-stretch {
		margin: auto;
	}

	.calendar-content-x {
		display: flex;
		flex-flow: wrap;
	}

	.day {
		width: 40px;
		margin: 2px;
		border: none;
	}

	.search-wrapper div:not(:last-child) .input {
		margin-bottom: 5px;
	}

	.vacation-picker .vacation-picker-row{
		display: block;
	}
}